[Unit]
Description=Tiktok server
After=network.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/usr/local/bin
ExecStart=/home/git/usr/local/bin/tiktok server

[Install]
WantedBy=multi-user.target
